In [9]:
import pandas as pd

In [34]:
dataset = pd.read_csv('ocorrencia.csv', sep = ';',parse_dates = ['ocorrencia_dia'],encoding='ISO-8859-1')
dataset.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÇO,RS,****,2012-06-01,13:00:00,0
3,45401,45401,ACIDENTE,SÇO SEBASTIÇO,SP,****,2012-06-01,17:00:00,0
4,45407,45407,ACIDENTE,SÇO SEP,RS,****,2012-06-01,16:30:00,0
5,52243,52243,INCIDENTE,UBATUBA,SP,****,2012-06-01,14:30:00,0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-07-01,18:15:00,0
7,45334,45334,INCIDENTE,BELM,PA,SBBE,2012-08-01,19:12:00,0
8,45391,45391,ACIDENTE,CONCEIÇO DAS ALAGOAS,MG,****,2012-08-01,16:00:00,0
9,52244,52244,INCIDENTE,UBERL¶NDIA,MG,SBUL,2012-08-01,22:13:00,0

In [29]:
dataset.dtypes
dataset.ocorrencia_dia
dataset.ocorrencia_dia.dt.month

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object